.password-entry-container {
  display: flex;
  justify-content: center;
  height: 100%;
}

.password-card {
  width: 300px;
  text-align: center;
}

.form-field {
  margin-bottom: 15px;
}

.error-message {
  max-width: 150px;
  color: red;
  font-size: 11px;
  margin-top: 5px;
  display: block;
}
